.borderCol{
    border-right: 2px solid black
}

.iconsStyle{
  text-align: center;
  margin: 15px 0 10px 0
}

@media (max-width:767px) {

    .borderCol
    {
      border-right:0px solid !important;
      border-bottom:1px solid black;
      margin-bottom:9px
      }
    }